.DS_Store
bot_app/node_modules
bot_app/config.json
mongo-rs0-1/data/
mongo-rs0-2/data/
mongo-rs0-3/data/

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
